<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artezzo - Desde 1948</title>
    <link rel="shortcut icon" href="/img/llogo.png">
    <%- include('partials/head.html')%>
    <link rel="stylesheet" href="/css/category.css">
   
</head>
<body>
    <%- include('partials/navigation.html')%>
    <%- include('partials/barra.html')%>
    <h1 id="categoriaBox" class="titleCategory"></h1>
    <div class="boxContent">
        <div class="subCatBar">
            <ul id="subCatList" class="subCatList">

            </ul>
        </div>
        <div id="prodBox">

        </div>
    </div>
    <%- include('partials/footer.html')%>
    <script src="/category.js"></script>
</body>
</html>
