<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COSTA MARKET - Una Ola de Ofertas</title>
    <link rel="shortcut icon" href="/img/llogo.png">
    <%- include('partials/head.html')%>
        <link rel="stylesheet" href="/css/index.css">
</head>
<style>
    #about {
        margin-left: 10%;
        margin-top: 10px;
        color: whitesmoke;
    }
    
    #escritura {
        margin-left: 13%;
        color: whitesmoke;
        font-size: 20px;
    }
</style>

<body>
    <%- include('partials/navigation.html')%>
    <section class="contenedor" id="container" >
       
            <%- include('partials/barra.html')%>
                <h1 id="about">Sobre Nostros</h1>
                <hr style="padding: 1px; color: whitesmoke;">
                <p id="escritura">
                    Bienvenidos a <b>ARTEZZO</b>. Esta empresa especializada en productps de granja inicia en 1948 con mi <em>Bisabueno, Atilio Pizzo</em><br> con el objetivo de poder llevar productos de granja a tú hogar.
                    <br>Podras encontrar una alta variedad de productos artesanales y de fábrica que estarán en permanente actualización. <br> Contamos con el apoyo de grandes marcas
                    como El Gaucho, Conaprole, Claldy, Nietitos, Don Santi, Calcar, Beni que nos respaldan para <br> poder  seguir creciendo en nuestro proyecto.
                    <br><br> Te invitamos a recorrer nuestra página Web y disfrutar de una experiencia en la cual vas a poder <br> encontrar una gran variedad de productos para diferentes gustos.
                    <br> Gracias por ser parte de este proyecto que con su apoyo nos ayudan a mejorar y crecer día a día. <br> 
                    <br> Nos puedes encontrar en ferias como Miercoles (Pilcomayo y Gallinal), Jueves (Juan Cabal y Monte Casero), <br>
                    Viernes (Decroly y Amazonas), Sábados (Canelones y Soriano).
                    <br><br>
                    Cualquier duda o consulta estamos para ayudarte !
                </p>

                <div class="indexContent">
                    <a href="https://api.whatsapp.com/send?phone=++59895608177text=Hola, Nececito más información!"
                        class="float" target="_blank">
                        <i class="fa fa-whatsapp my-float"></i>
                    </a>

                </div>

                <%- include('partials/footer.html')%>
    </section>

    <script src="/scripts.js"></script>
    <script src="/index.js"></script>
    <script src="/buscador.js"></script>
</body>

</html>