body {
    margin: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(https://www.gastrolabweb.com/u/fotografias/m/2021/5/13/f768x400-13188_57091_3743.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.ocultarContenido {
    display: none;
}


/* CSS Aplicado a pantallas menores a 600px de ancho (Móviles)  */
@media (max-width: 600px) {
    .boxContent {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .titleCategory{
       text-align: center;
    }

    .subCatBar{
        text-align: center;
        margin-top: 60px;
    }
  
    .subCatList{
        list-style: disc;
    }

    .subCatList .aSubList {
        text-decoration: none;
        color: whitesmoke;
        font-size: 20px;
        float: left;
        margin-right: 5%;
        margin-left: 5%;
    }

    .aSubList:hover {
        font-weight: bolder;
    }

    #prodBox {
        width: 100%;
        background-color: rgba(255, 232, 169, 0.144);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .card-1 {
        width: 8.5em;
        height: auto;
        overflow: hidden;
        margin: 20px;
        text-align: center;
        background-color: white;
        border: solid #999 1px;
        border-radius: 8px; 
        box-shadow: 1px 1px 1px 1px rgba(32,32,32,0.3);
    }

    .card-1 ul a{
        text-decoration: none;
        
    }

    .namePro{
        height: 7em;
    }

    .card-1 h2 {
        color: black;
        font-size: 100%;
        margin: auto;
    }

    .price {
        font-weight: bolder;
        font-size: 15px;
        font-family: 'Barlow', sans-serif;
        color: black;
        margin-top: -10px;
    }

    .btnBox {
        text-align: center;
        margin-top: 5%;
        list-style: none;
        height: 40px;
    }


}

/* CSS Aplicado a pantallas mayores a 601px (PC)  */

@media (min-width: 601px) {
  

    .titleCategory{
        color: whitesmoke;
        float: left;
        margin-left: 3%;
        margin-top: 2%;
    }

    .boxContent {
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }

    .subCatBar{
        left: 0;
        margin-top: 1%;
        margin-left: 3%;
        margin-right: 8%;
    }
  
    .subCatList{
        list-style: none;
    }

    .subCatList .aSubList {
        text-decoration: none;
        color: whitesmoke;
        font-size: 24px;
    }

    .aSubList:hover {
        text-decoration: line-through;
    }

    #prodBox {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 70%;
    }

    .card-1 {
        width: 14em;
        height: auto;
        overflow: hidden;
        margin: 20px;
        text-align: center;
        background-color: white;
        border: solid #999 1px;
        border-radius: 8px; 
    }

    .card-1 ul a{
        text-decoration: none;
        color: whitesmoke;
    }

    .namePro{
        height: 7em;
    }

    .card-1 h2 {
        color: black;
        font-size: 150%;
        margin: auto;
    }

    .price {
        font-weight: bolder;
        font-size: 22px;
        font-family: 'Barlow', sans-serif;
        color: black;
        margin-top: -10px;
    }

    .btnBox {
        text-align: center;
        margin-top: 5%;
        list-style: none;
        height: 50px;
    }

    .card-1:hover {
        box-shadow: 2px 2px 5px white;
        transition: 1s;
        transform: scale(1.05);
    }

    .card-1 img:hover {
        transition: 1s;
        transform: scale(1.05);
    }

}