/*---------------- CSS Aplicado a todas las pantallas sin importar ancho minimo/máximo-----*/

* {
    padding: 0px;
    margin: 0px;
}

body {
    width: 100%;
    height: 100vh;
    background-image: url(/img/fondoIndex.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.contenedor {
    overflow-x: hidden;
}

#quesos {
    left: 0;
    top: 0;
    z-index: 1;
}

video {
    z-index: 1;
}

.indexContent {
    position: relative;
    z-index: 2;
    height: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.ocultarContenido {
    display: none;
}

/*------ homeSlider-----*/

.itemDataBox a {
    text-decoration: none;
    color: #242424;
}

.sliderContainer {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 500px;

}

#wrapper {
    width: 100%;
    max-width: 964px;
    position: relative;
}

#carousel {
    overflow: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

#carousel::-webkit-scrollbar {
    height: 0;
}

#prev,
#next {
    display: flex;
    justify-content: center;
    align-content: center;
    background: white;
    border: none;
    padding: 8px;
    border-radius: 50%;
    outline: 0;
    cursor: pointer;
    position: absolute;
}

#prev {
    top: 50%;
    left: 0;
    transform: translate(50%, -50%);
    display: none;
}

#next {
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
}

#content {
    display: grid;
    grid-gap: 16px;
    grid-auto-flow: column;
    margin: auto;
    box-sizing: border-box;
}






/*---------------------- CSS Aplicado a pantallas desde 601px de ancho------------- */

@media (min-width: 601px) {
    .miniS {
        width: 50%;
        height: 50%;
    }

    .miniSlider {
        margin-top: -16px;
        text-align: center;
        background-color: whitesmoke;
    }

    h4 {
        margin-top: 2%;
        text-align: center;
        font-size: 300%;
        font-family: 'Lucida Sans';
        color: black;
    }

    .cards {
        display: flex;
        margin-left: 10%;
        margin-right: 10%;
    }

    .card {
        text-align: center;
        margin: 1.5%;
        box-shadow: 2px 3px 3px #252222ae;
        background-color: whitesmoke;
    }

    h5 {
        margin-top: 2%;
    }

    .cards a {
        list-style: none;
        text-decoration: none;
        color: black;
    }

    .card:hover {
        transform: scale(1.15);
        transition: 0.5s;
        opacity: 0.9;
    }

    .imgPortada {
        width: 100%;
        margin: auto;

    }

    .list-inline {
        width: 100%;
    }

    .quesosImg {
        margin-top: 3%;
        text-align: center;
    }

    .queso1 {
        margin-right: 2%;
        width: 40%;
    }

    .queso2 {
        margin-right: 2%;
        width: 40%;
    }

    #frase {
        text-align: center;
        margin-top: 3%;
        font-size: 300%;
        font-style: oblique;
        font-weight: 800;
    }

    .item {
        width: 12em;
        height: auto;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        border: solid #999 1px;
        border-radius: 8px;
        box-shadow: rgba(6, 5, 14, 0.15) 0px 48px 100px 0px;
        background-color: whitesmoke;
    }

    .item img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    .item:hover {
        box-shadow: 2px 2px 5px white;
    }

    .item a {
        text-decoration: none;
        color: whitesmoke;
    }

    .name_idx {
        height: 7em;
    }

    .item h2 {
        color: black;
        font-size: 150%;
        margin: auto;
        text-align: center;
    }

    .price_idx {
        font-weight: bolder;
        font-size: 22px;
        font-family: 'Barlow', sans-serif;
        color: black;
        margin-top: -10px;
    }

    .btnItem {
        text-align: center;
        margin-top: 5%;
        list-style: none;
        height: 50px;
    }

    .item img:hover {
        transition: 1s;
        transform: scale(1.05);
    }

}


/*-------------------- CSS Aplicado a pantallas de hasta 600px de ancho---------------*/

@media (max-width: 600px) {
    .miniS {
        width: 100%;
        height: 50%;
    }

    .miniSlider {
        margin-top: -10px;
        text-align: center;
        background-color: whitesmoke;
    }

    #quesos {
        top: 67%;
    }

    .sliderContainer {
        height: 300px;
    }

    h4 {
        margin-top: 10px;
        text-align: center;
    }

    .especialesypacks {
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: rgba(240, 248, 255, 0.288);
    }

    .cards {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .cards .card {
        width: 30%;
        margin-bottom: 5px;
    }

    .cards .card img {
        width: 100%;
    }

    .cards .card a {
        text-decoration: none;
        color: rgb(43, 43, 43);
        text-align: center;
    }

    .card h5 {
        height: 48px;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    .card p {
        display: none;
    }

    .quesosImg {
        margin-top: 3%;
        text-align: center;
    }

    .queso1 {
        width: 80%;
    }

    .queso2 {
        width: 80%;
        margin-top: 5%;
    }

    #frase {
        text-align: center;
        margin-top: 3%;
        font-size: 170%;
        font-style: oblique;
        font-weight: 800;
    }

    .item {
        width: 8em;
        height: auto;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        border: solid #999 1px;
        border-radius: 8px;
        box-shadow: rgba(6, 5, 14, 0.15) 0px 48px 100px 0px;
        background-color: whitesmoke;
    }

    .item img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    .item:hover {
        box-shadow: 2px 2px 5px white;
    }

    .item a {
        text-decoration: none;
        color: black;
    }

    .name_idx {
        height: 7em;
    }

    .item h2 {
        color: black;
        font-size: 100%;
        margin: auto;
        text-align: center;
    }

    .price_idx {
        font-weight: bolder;
        font-size: 15px;
        font-family: 'Barlow', sans-serif;
        color: black;
        margin-top: -10px;
    }

    .btnItem {
        text-align: center;
        margin-top: 5%;
        list-style: none;
        padding-bottom: 5px;
    }

    .btnInx{
        font-size: 14px;
    }

}